header
  .container
    .header
      .logo
        h1 I
        span .
        h1 D
      .menu
        ul
         li
           a(href="http://", target="_blank", rel="noopener noreferrer") Why
         li
           a(href="http://", target="_blank", rel="noopener noreferrer") Illustration
         li
           a(href="http://", target="_blank", rel="noopener noreferrer") Buy
    .leftblock
      .line
        p
      .social
        ul
          li
            a(href="http://", target="_blank", rel="noopener noreferrer")
          li
            a(href="http://", target="_blank", rel="noopener noreferrer")
          li
            a(href="http://", target="_blank", rel="noopener noreferrer")
      .line
      .text
        p Imagine.design

    .rightblock
      .block1
        .block1_left
          .section1
            .button
              p 25% off
          .section2
            h1 Illustrations that makes sense
          .section3
            p We are designers who create intelligent illustrations which
              |boost you business and aesthetics.
          .section4
            .block1
              .button
                a(href="#") Get Started
            .block2
              a(href="#")
                img(src="./img/Forma_1.png", alt="#")
            .block3
              p
                See our Process
          .block1_right
            .img
              img(src="img/2-layers.png", alt="#")
      .block2
        .img
          img(src="img/Layer_1.png", alt="#")
          img(src="img/infra-logo-png-1.png", alt="#")
          img(src="img/Layer_3.png", alt="#")
          img(src="img/Layer_4.png", alt="#")
          img(src="img/Layer_2.png", alt="#")
          
      
      